body {
	margin: 0px;
}
.form {
	margin: auto;
	width: 20%;
	margin-top: 90px;
}
.form input {
	padding: 8px 16px 4px 10px;
	margin-top: 6px;
}
.form input[type="submit"] {

	cursor: pointer;
}
.exists {
	font-size: 20px;
	color: red;
}
.form .error {
	color: red;
	margin-top: 4px;
}